<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DevSearch</title>
</head>
<body>
    <div id="header">
        <h1>This is the main template</h1>
    </div>
    <div id="'navbar">
        {% include 'navbar.html' %}
    </div>
    <div id="content">
        {% block content %} {% endblock %}
    </div>
    <div id="footer">
        <p>FOOTER</p>
    </div>
</body>
</html>